<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MeroSathi.merosaathi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.MeroSathi.merosaathi.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.MeroSathi.merosaathi.Login" />
        <activity android:name="com.example.MeroSathi.merosaathi.Sign_up" />
        <activity android:name="com.example.MeroSathi.merosaathi.Main" />
        <activity android:name="com.example.MeroSathi.merosaathi.Request" />
        <activity android:name="com.example.MeroSathi.merosaathi.Home" />
        <activity android:name="com.example.MeroSathi.merosaathi.School" />
        <activity android:name="com.example.MeroSathi.merosaathi.PublicPlace" />
        <activity android:name="com.example.MeroSathi.merosaathi.Janakari"></activity>
    </application>

</manifest>